{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/profile">Profile</a>
                        <span>My addresses</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    <div class="filter-widget">
                        <h4 class="fw-title"><a class="fw-link" href="/profile">My profile ❯</a></h4>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title"><a class="fw-link" href="/profile/my_orders">My orders ❯</a></h4>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title"><a class="fw-link fw-active" href="/profile/my_addresses">My addresses ❯</a></h4>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title"><a class="fw-link" href="/profile/settings">Settings ❯</a></h4>
                    </div>
                </div>

                <div class="col-lg-9 order-1 order-lg-2">
                    <h4>Edit address</h4>
                    <div class="col-lg-4">
                        <form action="/profile/my_addresses/{{ address.id }}/edit" method="POST">
                            <div class="form-group">
                                <label for="receiver-name">Receiver*</label>
                                <input type="text" class="form-control" name="receiver-name" placeholder="Receiver" value="{{ address.receiver_name }}">
                            </div>
                            <div class="form-group">
                                <label for="receiver-phone">Phone*</label>
                                <input type="text" class="form-control" name="receiver-phone" placeholder="Phone" value="{{ address.receiver_phone }}">
                            </div>
                            <div class="form-group">
                                <label for="address">Address*</label>
                                <input type="text" class="form-control" name="address" placeholder="Address" value="{{ address.address }}">
                            </div>
                            <button type="submit" class="orders-btn btn">Save</button>
                        </form>
                        <form action="/profile/my_addresses/{{ address.id }}/delete" method="POST">
                            <button class="orders-btn btn delete-btn" type="submit">Delete</button>
                        </form>
                    </div>
                </div>                
            </div>
        </div>
    </section>
{% endblock %}
