<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            {% if not current_user.is_authenticated %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="#about">About</a></li>
            {% else %}
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2020 by <a href="#">gesko</a>.
      {% endblock %}
    </div>
</body>
</html>