{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/admin">Admin</a>
                        <span>Queue</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    <div class="filter-widget">
                        <h4 class="fw-title"><a class="fw-link" href="/admin">All Orders ❯</a></h4>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title"><a class="fw-link fw-active" href="/admin/queue">Queue ❯</a></h4>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title"><a class="fw-link" href="/admin/accepted">Accepted ❯</a></h4>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title"><a class="fw-link" href="/admin/create_product">Add Product ❯</a></h4>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title"><a class="fw-link" href="#">? ❯</a></h4>
                    </div>
                </div>

                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="profile-list">
                        <div class="row">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Take Order</th>
                                        <th>Order</th>
                                        <th>Status</th>
                                        <th>Price</th>
                                        <th>Paid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td><a style="color: black;"href="/admin/take_order/{{ order.id }}">Take</a></td>
                                        <td>
                                            <a style="color: black;"href="#">
                                            {% for order_product in orders_products[loop.index - 1] %}
                                                {% for product in products %}
                                                    {% if order_product.product_id == product.id %}
                                                        {{ product.name }}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if loop.index - 1 < orders_products|length %}
                                                    +
                                                {% endif %}
                                            {% endfor %}
                                            </a>
                                        </td>
                                        <td>
                                            {% for status in statuses %}
                                                {% if status.id == order.status_id %}
                                                    {{ status.status }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>${{ orders_total_price[loop.index - 1] + 24 }}</td>
                                        <td>{% if order.is_paid %} Yes  {% else %} No {% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
