{% extends "layout.html" %}
{% block title %}IndAdminex{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        window.onload = function() {
            const query = window.location.search.substring(1);
            let url;
            if (query.length !== 0) {
                url = new URLSearchParams(query);
            }

            if (url.get('from-date') !== null) {
                document.getElementById('from-date').value = url.get('from-date');
            }

            if (url.get('to-date') !== null) {
                document.getElementById('to-date').value = url.get('to-date');
            }

            if (url.get('order') !== null) {
                if (url.get('order') === 'asc') {
                    document.getElementById('order').selectedIndex = 1;
                }
            }
        };
    </script>
{% endblock %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Admin</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    <div class="filter-widget">
                        <h4 class="fw-title"><a class="fw-link fw-active" href="/admin">All Orders ❯</a></h4>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title"><a class="fw-link" href="/admin/queue">Queue ❯</a></h4>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title"><a class="fw-link" href="/admin/accepted">Accepted ❯</a></h4>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title"><a class="fw-link" href="/admin/create_product">Add Product ❯</a></h4>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title"><a class="fw-link" href="#">? ❯</a></h4>
                    </div>
                </div>

                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="profile-list">
                        <form action="/admin" method="GET">
                            <label for="from-date">From</label>
                            <input type="date" name="from-date" id="from-date" class="date-filter">
                            -
                            <label for="to-date">To</label>
                            <input type="date" name="to-date" id="to-date" class="date-filter">

                            <select name="order" id="order" class="form-control select-filter">
                                <option value="desc">Descending</option>
                                <option value="asc">Ascending</option>
                            </select>
                            <input type="submit" class="orders-btn filter-btn" value="Filter">
                        </form>
                        <div class="row">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>User Id</th>
                                        <th>Order</th>
                                        <th>Status</th>
                                        <th>Price</th>
                                        <th>Paid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td>{{ order.user_id }}</td>
                                        <td>
                                            <a href="#">
                                            {% for order_product in orders_products[loop.index0] %}
                                                {% for product in products %}
                                                    {% if order_product.product_id == product.id %}
                                                        {{ product.name }}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if loop.nextitem %}
                                                    +
                                                {% endif %}
                                            {% endfor %}
                                            </a>
                                        </td>
                                        <td>
                                            {% for status in statuses %}
                                                {% if status.id == order.status_id %}
                                                    {{ status.status }}
                                                    <br>
                                                    {{ order.date }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>${{ orders_total_price[loop.index0] + 24 }}</td>
                                        <td>{% if order.is_paid %} Yes  {% else %} No {% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
